# while loops
while condition 
{
c
o
d
e
s
}

In [24]:
students  = [{'name':'Afeef', 'age':15, 'married':False},
             {'name':'Hamza', 'age':24, 'married':False},
             {'name':'Ali Hassan', 'age':21, 'married':False},
             {'name':'Maqsood', 'age':25, 'married':False},
             {'name':'Qalb', 'age':30, 'married':True},
             {'name':'Sabee', 'age':27, 'married':True},
             {'name':'Junaid', 'age':25, 'married':False},
             {'name':'Ahmed', 'age':24, 'married':False},
             {'name':'Khubaib', 'age':21, 'married':False},
             {'name':'Azhan', 'age':25, 'married':True},
             {'name':'Kifayat', 'age':20, 'married':False},
             {'name':'Mujtaba', 'age':22, 'married':True}]

In [2]:
for student in students:
    if student['age']>=20:
        print(student['married'])

False
False
False
True
False
False
False
False
False
False
False

In [19]:
for student in students:
    if student['age']==27:
        print(student['age'])

27

In [25]:
students

[{'name': 'Afeef', 'age': 15, 'married': False},
 {'name': 'Hamza', 'age': 24, 'married': False},
 {'name': 'Ali Hassan', 'age': 21, 'married': False},
 {'name': 'Maqsood', 'age': 25, 'married': False},
 {'name': 'Qalb', 'age': 30, 'married': True},
 {'name': 'Sabee', 'age': 27, 'married': True},
 {'name': 'Junaid', 'age': 25, 'married': False},
 {'name': 'Ahmed', 'age': 24, 'married': False},
 {'name': 'Khubaib', 'age': 21, 'married': False},
 {'name': 'Azhan', 'age': 25, 'married': True},
 {'name': 'Kifayat', 'age': 20, 'married': False},
 {'name': 'Mujtaba', 'age': 22, 'married': True}]

In [34]:
for student in students:
    if student['age']>=25 and student ['married']==True:
        
        print(student['name'])

Qalb
Sabee
Azhan

In [36]:
for student in students:
    if (student['age']>=25):
        if student['married']==True:
            print(student['name'])

Qalb
Sabee
Azhan

In [37]:
students

[{'name': 'Afeef', 'age': 15, 'married': False},
 {'name': 'Hamza', 'age': 24, 'married': False},
 {'name': 'Ali Hassan', 'age': 21, 'married': False},
 {'name': 'Maqsood', 'age': 25, 'married': False},
 {'name': 'Qalb', 'age': 30, 'married': True},
 {'name': 'Sabee', 'age': 27, 'married': True},
 {'name': 'Junaid', 'age': 25, 'married': False},
 {'name': 'Ahmed', 'age': 24, 'married': False},
 {'name': 'Khubaib', 'age': 21, 'married': False},
 {'name': 'Azhan', 'age': 25, 'married': True},
 {'name': 'Kifayat', 'age': 20, 'married': False},
 {'name': 'Mujtaba', 'age': 22, 'married': True}]

In [39]:
students = [{'name': 'Afeef', 'age': 15, 'married': False},
 {'name': 'Hamza', 'age': 24, 'married': False},
 {'name': 'Ali Hassan', 'age': 21, 'married': False},
 {'name': 'Maqsood', 'age': 25, 'married': False},
 {'name': 'Qalb', 'age': 30, 'married': True},
 {'name': 'Sabee', 'age': 27, 'married': True},
 {'name': 'Junaid', 'age': 25, 'married': False},
 {'name': 'Ahmed', 'age': 24, 'married': False},
 {'name': 'Khubaib', 'age': 21, 'married': False},
 {'name': 'Azhan', 'age': 25, 'married': True},
 {'name': 'Kifayat', 'age': 20, 'married': False},
 {'name': 'Mujtaba', 'age': 22, 'married': True}]

In [40]:
students

[{'name': 'Afeef', 'age': 15, 'married': False},
 {'name': 'Hamza', 'age': 24, 'married': False},
 {'name': 'Ali Hassan', 'age': 21, 'married': False},
 {'name': 'Maqsood', 'age': 25, 'married': False},
 {'name': 'Qalb', 'age': 30, 'married': True},
 {'name': 'Sabee', 'age': 27, 'married': True},
 {'name': 'Junaid', 'age': 25, 'married': False},
 {'name': 'Ahmed', 'age': 24, 'married': False},
 {'name': 'Khubaib', 'age': 21, 'married': False},
 {'name': 'Azhan', 'age': 25, 'married': True},
 {'name': 'Kifayat', 'age': 20, 'married': False},
 {'name': 'Mujtaba', 'age': 22, 'married': True}]

In [41]:
for student in students:
    if (student['age']<25):
         student['married']=True:
            print(student['name'])

SyntaxError: invalid syntax (3719774364.py, line 3)