# While Loops
   while condition
      {
         codes 
      }

In [3]:
counter = 0
while counter<=10 :
    print(counter, "Hello")
    counter +=1

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [4]:
for a in range(10):
    print(a,"Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [6]:
for a in range(10):
    print(a,'Hello')
    if a==5:
        break

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello

In [7]:
guests = []

for a in range(5):
    guest_name = input("Enter a guest name")
    guests.append(guest_name)
guests

Enter a guest nameAli Bhai
Enter a guest nameShaboo
Enter a guest nameRazia
Enter a guest nameShagufta
Enter a guest nameSultan

['Ali Bhai', 'Shaboo', 'Razia', 'Shagufta', 'Sultan']

In [9]:
guests = []
while True:
    guest_name = input("Enter a guest name or press q to quit")
    if guest_name =="q":
        break
    else:guests.append(guest_name)

Enter a guest name or press q to quitali
Enter a guest name or press q to quitfaisal
Enter a guest name or press q to quitahmed
Enter a guest name or press q to quitfahad
Enter a guest name or press q to quitkashif
Enter a guest name or press q to quitamer
Enter a guest name or press q to quitumer
Enter a guest name or press q to quitishan
Enter a guest name or press q to quitq

In [10]:
guests

['ali', 'faisal', 'ahmed', 'fahad', 'kashif', 'amer', 'umer', 'ishan']

In [11]:
guests = []
flag = True
while flag:
    guest_name = input("Enter a guest name or press q to quit")
    if guest_name =="q":
        flag=False
    else:guests.append(guest_name)

Enter a guest name or press q to quitasad
Enter a guest name or press q to quitdaad
Enter a guest name or press q to quithasan
Enter a guest name or press q to quitbaber
Enter a guest name or press q to quitali
Enter a guest name or press q to quitq

In [13]:
guests

['asad', 'daad', 'hasan', 'baber', 'ali']

In [17]:
counter = 0 
while counter < len(guests):
    print(guests[counter])
    counter +=1

asad
daad
hasan
baber
ali

In [18]:
students  = [{'name':'Afeef', 'age':15, 'married':False},
             {'name':'Hamza', 'age':24, 'married':False},
             {'name':'Ali Hassan', 'age':21, 'married':False},
             {'name':'Maqsood', 'age':25, 'married':False},
             {'name':'Qalb', 'age':30, 'married':True},
             {'name':'Sabee', 'age':27, 'married':False},
             {'name':'Junaid', 'age':25, 'married':False},
             {'name':'Ahmed', 'age':24, 'married':False},
             {'name':'Khubaib', 'age':21, 'married':False},
             {'name':'Azhan', 'age':25, 'married':False},
             {'name':'Kifayat', 'age':20, 'married':False},
             {'name':'Mujtaba', 'age':22, 'married':False}]

In [19]:
for student in students:
    print(student)

{'name': 'Afeef', 'age': 15, 'married': False}
{'name': 'Hamza', 'age': 24, 'married': False}
{'name': 'Ali Hassan', 'age': 21, 'married': False}
{'name': 'Maqsood', 'age': 25, 'married': False}
{'name': 'Qalb', 'age': 30, 'married': True}
{'name': 'Sabee', 'age': 27, 'married': False}
{'name': 'Junaid', 'age': 25, 'married': False}
{'name': 'Ahmed', 'age': 24, 'married': False}
{'name': 'Khubaib', 'age': 21, 'married': False}
{'name': 'Azhan', 'age': 25, 'married': False}
{'name': 'Kifayat', 'age': 20, 'married': False}
{'name': 'Mujtaba', 'age': 22, 'married': False}

In [21]:
for student in students:
    if student['age']>=20:
        print(student['married'])

False
False
False
True
False
False
False
False
False
False
False

In [26]:
students  = [{'name':'Afeef', 'age':15, 'married':False},
             {'name':'Hamza', 'age':24, 'married':False},
             {'name':'Ali Hassan', 'age':21, 'married':False},
             {'name':'Maqsood', 'age':25, 'married':False},
             {'name':'Qalb', 'age':30, 'married':True},
             {'name':'Sabee', 'age':27, 'married':True},
             {'name':'Junaid', 'age':25, 'married':False},
             {'name':'Ahmed', 'age':24, 'married':False},
             {'name':'Khubaib', 'age':21, 'married':False},
             {'name':'Azhan', 'age':25, 'married':True},
             {'name':'Kifayat', 'age':20, 'married':False},
             {'name':'Mujtaba', 'age':22, 'married':True}]

In [23]:
for student in students:
    if student['name']=='Sabee':
        print(f""" 
                Student Name:{student['name']} 
                Students Age {student['age']}""")

                Student Name:Sabee
                Students Age 27

In [25]:
for student in students:    #{'name':'Sabee', 'age':27, 'married':False}
    if student['name']=='Sabee':
        print(student['age'])

27

In [27]:
for student in students:
    if (student['age']>=25) and (student['married']==True):
        print(student['name'])

Qalb
Sabee
Azhan

In [28]:
for student in students:
    if (student['age']>=25):
        if student['married']==True:
            print(student['name'])

Qalb
Sabee
Azhan

In [35]:
students  = [{'name':'Afeef', 'age':15, 'married':False},
             {'name':'Hamza', 'age':24, 'married':False},
             {'name':'Ali Hassan', 'age':21, 'married':False},
             {'name':'Maqsood', 'age':25, 'married':False},
             {'name':'Qalb', 'age':30, 'married':True},
             {'name':'Sabee', 'age':27, 'married':True},
             {'name':'Junaid', 'age':25, 'married':False},
             {'name':'Ahmed', 'age':24, 'married':False},
             {'name':'Khubaib', 'age':21, 'married':False},
             {'name':'Azhan', 'age':25, 'married':True},
             {'name':'Kifayat', 'age':20, 'married':False},
             {'name':'Mujtaba', 'age':22, 'married':True}]

In [36]:
for student in students:
    if student['age']<25:
        student['married']=True

In [37]:
students

[{'name': 'Afeef', 'age': 15, 'married': True},
 {'name': 'Hamza', 'age': 24, 'married': True},
 {'name': 'Ali Hassan', 'age': 21, 'married': True},
 {'name': 'Maqsood', 'age': 25, 'married': False},
 {'name': 'Qalb', 'age': 30, 'married': True},
 {'name': 'Sabee', 'age': 27, 'married': True},
 {'name': 'Junaid', 'age': 25, 'married': False},
 {'name': 'Ahmed', 'age': 24, 'married': True},
 {'name': 'Khubaib', 'age': 21, 'married': True},
 {'name': 'Azhan', 'age': 25, 'married': True},
 {'name': 'Kifayat', 'age': 20, 'married': True},
 {'name': 'Mujtaba', 'age': 22, 'married': True}]